/* You can add global styles to this file, and also import other style files */

$primary-color: "#F0B126";
// $secondary-color: "#F1E6C0";
$secondary-color: tomato;

$black-color: "#000";

:root {
  --primary: "tomato";

}